* {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

.App {
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  border: 1px solid grey;
}

.close {
  margin-top: -5px;
}

.todo-item {
  border: 1px solid rgba(128, 128, 128, 0.447);
  padding: 0;
}

.todo-input {
  border: none;
}

.form-container {
  display: flex;
  justify-content: space-around;
}

.input-input {
  width: 80%;
}

.knop {
  width: 20%;
}

@media(min-width: 850px) {
  .container {
    width: 55%;
  }
}